.header-logo img {
  width: 145px;
}
.navbar-nav a {
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  color: black;
}
.clogin button {
  border: 1px solid #ddd;
  background: #fff;
  padding: 5px 24px;
  display: block;
  border-radius: 5px;
}
