.App {
  text-align: center;
}

.broadcumb-area {
  background-image: url("https://i.ibb.co/GFvF2Tx/broad.jpg");
  position: relative;
  z-index: 1;
  background-size: cover;
  color: #fff;
  padding: 115px 0px;
}

.broadcumb-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0.5;
  z-index: -1;
}
.homeabout {
  background: cadetblue;
  color: #fff;
  padding: 65px 0px;
}

.homeabout img {
  width: 400px;
  border-radius: 25px;
}
.section-title {
  padding: 75px 0 !important;
}
.section-title {
  padding: 75px 0 !important;
}

.homeabout button {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 25px;
}
